<% provide(:title, 'About') %>

<h1>So Coach Jackie huh? What’s her story?</h1>
<p>
I spent most of my life too focused on living up to others’ expectations to notice my own dreams. I never got in trouble with my parents, scored perfectly on my college entrance exams, and attended Duke University without a clue as to why I wanted to go there. I kept my emotions and desires so deep down that they eventually came out in the very unpleasant forms of depression, anxiety, and eating disorders. I had no idea why this was happening to me and no and good means of coping. But there are always people who want to help (even if you don’t feel like there are), and you are very worthy of help, success, and happiness (even if you don’t feel like you are).

Once I started the comprehensive program with the Institute for Professional Excellence in Coaching, I discovered that it’s okay to have my own needs and wants - no one suffers as much as I do when I consistently people-please. And how liberating it was to acknowledge it all: I’m not confined to choosing between a life as a doctor, lawyer, or consultant! I don’t have to work this hard for a future I don’t want! I don’t have to try to be someone I’m not!

And you know what? I’ve had my setbacks, but I’ve never looked back. I live authentically and passionately, using my natural talents and interests to raise the awareness of those around me. 

And it is effing awesome.  
</p>
