<% provide(:title, 'Contact') %>

<h1>Here’s how much I care about your fulfillment – your first session is free</h1>
<p>email:jackie@lucidlivingcoaching.com</p>
<p>call or text:224-456-3730</p>
<p>facebook: <%=  link_to "facebook.com/lucidlivingcoaching", "http://facebook.com/lucidlivingcoaching" %> </p>
