<% provide(:title, 'Contact') %>

<h1>Here’s how much I care about your fulfillment – your first session is free</h1>
<p>email:jakie@lucidlivingcoaching.com</p>      
<p>call or tex:224-456-3730</p> 
<p>facebook:facebook.com/lucidlivingcoach</p> 
