
<h1>GET UNSTUCK</h1>


<p>AND LOVE YOUR LIFE</p>

<p>Passion and purpose coaching for overwhelmed optimists</p>

<img src="http://sphotos-b.xx.fbcdn.net/hphotos-ash4/1111_10151118340421852_218741127_n.jpg" alt="Smiley face" height="300" width="300">

<p>
She’s sharp and sassy, yet super sweet. She's successful, she’s strong, and she’s
sexy as hell. 

And she wants you to have it all too!

With Coach Jackie you’ll become more confident in your life’s direction, tap into your unused motivation, develop a deeper sense of fulfillment, and a gain a clear awareness of identity. 
</p>

<p>Sounds pretty cool. But what does all that mean for me?</p>

<p>Well, imagine waking up every day genuinely excited for everything you have ahead of you. I’m talking about standing in line for your morning coffee, going to work, running errands, deciding what to have for dinner, going to the gym – all of it done with a smile because you find that you want to do these things and get joy out of each task. 

	But this is not just some airy advice to simply learn to be happy with what you have.

	This is about going big, dreaming wildly, and asking for MORE out of your life. You can’t get what you want until you ask!
</p>